/* 헤더 1200px로 가운데 정렬 */
header{
    width: 1200px;
    margin: 0 auto;
    height: 120px;
}
/* a태그로 이미지와 하늘투어 글씨 설정 */
.part1{
    margin-top: 30px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
/* 로고이미지 크기와 위치 설정 */
.part1 .logoimg{
    width: 55px;
    height: 55px;
    float: left;
    margin: 5px;
}
/* 로고이미지와 로고 글씨 a태그에 대해서 */
.part1 >a{
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    float: left;
    line-height: 90px;
    letter-spacing: -2px;
}
/* 검색 상자를 감싸고 있는 폼 태그 */
.search-form{
    position: relative;
    display: inline-block;
    margin-top: 30px;
}
/* 폼태그 안에 있는 input 검색 상자 */
header form input{
    border-radius: 30px;
    width: 300px;
    height: 40px;
    padding-left: 20px;
    margin-top: 27px;
    transition: 0.5s;
}
/* 폼태그 안에 있는 검색 (돋보기)이미지 */
form #search{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    bottom: 8px;
    transition: 0.5s
}
/* 검색(돋보기)이미지 hover시 커서 포인터 모양으로 변경 */
form #search:hover{
    cursor: pointer;
}
::placeholder{
    color: rgb(146, 144, 144);
    font-weight: 700;
}
/* 검색상자에 focus됐을 때 width늘어나도록 구현 */
.search-form input:focus{
    width: 400px;
}
/* 마이메뉴, 예약내역, 찜을 감싸고 있는 div */
.part2{
    position: relative;
    float: right;
    margin-top: 55px;
    /* border: 1px solid black; */
}
/* 마이메뉴, 예약내역, 찜의 각각의 요소의 div에 위치값 설정 */
.part2 .cls001,.part2 .cls002{
    float: left;
    text-align: center;
    padding: 5px;
}
/* 마이메뉴, 예약내역, 찜의 이미지 크기 설정 */
.part2 .cls001 img, .part2 .cls002 img{
    width: 25px;
    height: 25px;
}
/* 마이메뉴, 예약 내역,찜 글씨 속성 */
.part2 div span{
    color: #333;
    font-size: 12px;
    display: block;
    font-weight: 700;
}
/* 마이메뉴, 예약 내역,찜 hover시 색상 변경 */
.part2 a:hover img{
    filter: invert(18%) sepia(100%) saturate(2975%) hue-rotate(188deg) brightness(90%) contrast(101%);
}
/* 마이메뉴, 예약 내역,찜 글씨 색도 변경 */
.part2 a:hover span{
   color: #0067a3;
}
/* 검색상자 포커스 됐을 때 나타나는 서브검색상자 */
form .sub_search{
    width: 500px;
    height: 480px;
    border: 1.1px solid rgb(73, 73, 73);
    position: absolute;
    top: 110%;
    left: 0;
    display: none;
    box-shadow: 0px 0px 30px rgb(227, 227, 227);
    padding: 20px 10px;
    z-index: 88;
    background: #fff;
}
/* 검색상자에 focus됐을 때 서브 검색상자 나타나도록 구현 */
form input:focus ~ .sub_search{
    display: block;
}
/* 서브 검색상자 디자인 */
.sub_search span{
    margin-left: 15px;
    display: block;
    font-weight: 700;
    font-size: 14px;
}
.sub_search .reco,.popul{
    width: 400px;
    margin: 0 auto;
    border-top: 2px solid #333;
    margin: 15px;
    padding: 15px;
}
.sub_search .reco #bt1,#bt2,#bt3{
    margin: 3px 1px;
    padding: 5px 10px;
    border: none;
    background: rgb(241, 241, 241);
    border-radius: 5px;
    transition: 0.3s;
}
.sub_search .reco a{
    color: rgb(87, 87, 87);   
}
.sub_search .reco button:hover a{
 color: rgb(0, 0, 0);   
}
/* 서브 검색상자의 추천 검색어 hover시 background 변경 */
.sub_search .reco #bt1:hover{
    background:rgb(148, 196, 210,0.4);
}
.sub_search .reco #bt2:hover{
    /* background:rgb(1, 134, 186,0.4); */
    background: rgba(152, 184, 214, 0.4);
}
.sub_search .reco #bt3:hover{
    background:rgb(0, 66, 125,0.4);
    /* background: rgb(0, 26, 70,0.4); */
}
/* 서브 검색상자의 인기검색어 */
.sub_search .popul{
    padding-left: 30px;
    height: 247px;
    margin-bottom: 0;
}
.sub_search .popul ol li{
    font-size: 13px;
    line-height: 23px;
    transition: 0.3s;
}
.sub_search .popul ol li:hover{
    text-decoration: underline;
}
.sub_search .close{
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: right;
}
.sub_search .close button{
    background: none;
    border: none;
    font-size: 12px;
}
/* 서브 검색상자의 닫기 버튼 구현 */
.sub_search .close button:focus .sub_search{
    display: none;
}
/* 마이메뉴의 하위요소 로그인,회원가입 버튼 구현 */
.mymenu{
    position: absolute;
    display: none;
    width: 135px;
    height: 80px;
    border: 2px solid rgb(158, 158, 158);
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 99;
}
/* 로그인 버튼과 회원가입 버튼 디자인 */
.mymenu form .login,.signup{
    display: inline-block;
    border-radius: 5px;
    width: 90px;
    height: 25px;
    background: none;
    position: relative;
}
.mymenu form .login{
    margin: 8px 0;
    border: 2px solid gray;
    color: gray;
    font-weight: 700;
}
.mymenu form .signup{
    border: 2px solid rgb(134, 177, 218);
    color: rgb(134, 177, 218);
    font-weight: 700;
}
/* 마이메뉴 클릭시 로그인 버튼과 회원가입 버튼 나타나도록 구현 */
.cls001 a:focus ~.mymenu{
    display: block;
}
.mymenu form .login,.signup:hover{
    cursor: pointer;
}




/* 여기서부터 메뉴 */
nav{
    width: 100%;
    height: 48px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.main{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.main-menu{
    float: left;
    width: 100%;
}
.main-menu>li{
    float: left;
}
.main-menu>li:first-child{
    padding-left: 0;
}
.main-menu>li>a{
    font-size: 16px;
    padding: 11px 30px;
    display: inline-block;
}
.subdiv{
    display: none;
    width: 100%;
    float: left;
    top: 100%;
    left: 0;
    position: absolute;
    background: #fff;
    border-top: 1px solid #eee;
}
.subdiv .sub-content{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.subdiv .sub-menu{
    float: left;
}

.subdiv .sub-menu .sub-li{
    float: left;
    padding: 10px 30px;
}
.subdiv .sub-menu .sub-li:first-child{
    padding-left: 0;
}
.subdiv .sub-menu .sub-li>a{
    padding: 8px 0;
}
.sub-li>.lastdiv{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background: rgb(254, 255, 242);
    z-index: 99;
    border-top: 1px solid #eee;
}
.sub-li>.lastdiv .last-content{
    width: 1200px;
    margin: 0 auto;
}
.sub-li>.last-menu>li>a{
    display: inline-block;
    padding: 5px 20px;
}
.last-menu{
    float: left;
    width: 25%;
}
.last-menu3{
    float: left;
    width: 33.3333%;
}
.sub-li>.last-menu3>li>a{
    display: inline-block;
    padding: 5px 20px;
}

.main-menu>li:hover .subdiv{
    display: block;
}
.sub-menu .sub-li:hover .lastdiv{
    display: block;
}
.main-menu>li:hover >a{
    border-bottom: 2px solid rgb(125, 5, 141);
}
.sub-menu .sub-li:hover >a{
    border-bottom: 2px solid rgb(125, 5, 141);
}
.menu-p{
    font-weight: 600;
    padding: 20px 0;
}



/* 여기서부터 배너 */
.banner1{
    width: 100%;
    background: rgb(208,240,251);
    height: 700px;
}
.banner-content{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 50px;
}
.ban-img{
    float: right;
}
.banner-content >.fir-ul{
    position: relative;
    width: 400px;
    display: inline-block;
}
.fir-ul>li{
    float: left;
    margin-top: 20px;
}
.fir-ul > li > input[type="radio"]{
    position: absolute;
    left: -9999px;
}
.banner-content .fir-ul >li >label{
    display: block;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;
}
.fir-ul>li>.content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 14px;
    margin-top: 30px;
}
.fir-ul li input[type="radio"]:checked + label{
    border-bottom: 1px solid black;
}
.fir-ul > li input[type="radio"]:checked ~ .content{
    display: block;
}
/* form태그 디자인 */
.ye-form .input-start{
    width: 400px;
    height: 55px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.input-start::placeholder{
    font-size: 16px;
    color: #aaa;
    text-align: left;
}
.ye-form select{
    width: 49%;
    height: 45px;
    border: none;
    appearance: none;
    text-align: center;
    margin-top: 25px;
    border-radius: 5px;
}
.input-date{
    width: 49%;
    height: 45px;
    border: none;
    text-align: center;
    border-radius: 5px;
}
.btn01{
    width: 400px;
    height: 60px;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.air-date1{
    width: 320px;
    background: #fff;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 25px;
}
.air-date{
    margin-top: 25px;
    width: 49%;
    background: #fff;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.submit{
    width: 320px;
    height: 45px;
    background: #fff;
    color: #000;
    margin-top: 25px;
    float: left;
    border: none;
    outline: none;
    border-radius: 5px;
}
.input01{
    width: 49%;
    background: #fff;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    clear: both;
}
.jik{
    width: 60px;
    height: 45px;
    border-radius: 5px;
    background: #fff;
    float: left;
    text-align: center;
    line-height: 45px;
    margin-left: 13px;
    margin-top: 25px;
}
.ye-form .ho-01{
    width: 400px;
    height: 45px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin-top: 15px;
    text-align: center;
}
.ye-form .ho-02{
    width: 400px;
    height: 45px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin-top: 15px;
    text-align: center;
}

#air-w{
    width: 400px;
    height: 320px;
    margin-top: 10px;
    display: none;
}
#air-p{
    width: 400px;
    margin-top: 10px;
    display: none;
}

.content>a{
    padding: 15px 25px;
    line-height: 50px;
    background: #fff;
    border-radius: 30px;
}

#air-p:target{
    display: block;
}
#air-w:target{
    display: block;
}

.banner-img{
    float: right;
}
.bn-p{
    font-weight: 600;
    font-size: 25px;
    margin-top: 60px;
}
.bn-sp{
    font-weight: 400;
}




/*여기서부터 section1  */

#hy1 {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    margin-top: 50px;
}

#hy1 > h1 {
    position: absolute;
    color: #000;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.C01{
    float: left;
    position: relative;
    margin: 100px 0 0 30px;
    border-radius: 50%;
    border: 1px solid #555;
    box-shadow: 2px 2px 3px #555;
    width: 200px;
    height: 200px;
}

.C01 > .c01-1{
    position: absolute;
    border-radius: 50%;
    border: 1px solid #555;
    box-shadow: 2px 2px 3px #555;
    width: 200px;
    height: 200px;
    opacity: 0.6;
}

.C01 > .c01-1:hover{
    opacity: 1;
    cursor: pointer;
}

.c01-2{
    position: absolute;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.c01-3{
    white-space:nowrap;
}



/* 여기서부터 section2 */
#hy2 {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 600px;
}

#hy2 .air {
    float: left;
}

#hy2 > img{
    width: 400px;
    height: 500px;
    opacity: 0.7;
}

#hy2 h1 {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 2px #94c4d2;
    top : 70px;
    left: 60px;
}

#hy2 h2 {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 2px #94c4d2;
    top: 140px;
    left: 60px;
}

#hy2 ul {
    float: left;
    margin: 15px;
}

#hy2 input[type="radio"] {
    position: absolute;
    left: -999999px;
}

#hy2 label {
    position: absolute;
    left: 60px;
    background: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    height: 30px;
    transition: 0.3s;
    opacity: 0.8;
    text-align: center;
    line-height: 30px;
}

#hy2 .radio-1 {
    position: absolute;
    top: 200px;
    left: 60px;
}

#hy2 .radio-2 {
    position: absolute;
    top: 260px;
    left: 60px;
}

#hy2 .radio-3 {
    position: absolute;
    top: 320px;
    left: 60px;
}

#hy2 label:hover {
    background: #94c4d2;
    color: #fff;
    border: 1px solid #ccc;
}

#hy2 input[type="radio"]:checked + label {
    background: #94c4d2;
    color: #fff;
    border: 1px solid #ccc;
}

.jp01,.Eu01,.SA01 {
    left: 300px;
}

.jp02,.Eu02,.SA02 {
    left: 595px;
}

.jp03,.Eu03,.SA03 {
    left: 890px;
}

.jp01 > img,.jp02 > img,.jp03 > img,.Eu01 > img,.Eu02 > img,.Eu03 > img,.SA01 > img,.SA02 > img,.SA03 > img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.jp01,.jp02,.jp03,.Eu01,.Eu02,.Eu03,.SA01,.SA02,.SA03 {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    width: 280px;
    height: 400px;
    top: 65px;
    box-shadow: 2px 2px 2px #ccc;
    cursor: pointer;
    background: #fff;
}

.cls-a > .m {
    margin-left: 10px;
}

.cls-p01 {
    color: #000;
    font-size: 13px;
    margin: 10px;
}

.cls-p02 {
    color: #000;
    font-size: 16px;
    font-weight: 800;
    margin: 10px;
}

.cls-p03{
    position: absolute;
    color: #000;
    font-size: 13px;
    margin: 10px;
    top: 270px;
} 

.cls-p04 {
    position: absolute;
    color: #000;
    font-size: 16px;
    font-weight: 800;
    margin: 10px;
    top: 310px;
}

.cls-a {
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 800;
}

.cls-a:hover {
    text-decoration: underline;
}

.pakage {
    font-size: 12px;
    color: rgb(72, 77, 151);
    padding: 3px 5px 0 10px;
}



input[type="radio"]:checked ~ .jp01 {
    display: block;
}
input[type="radio"]:checked ~ .jp02 {
    display: block;
}
input[type="radio"]:checked ~ .jp03 {
    display: block;
}

input[type="radio"]:checked ~ .Eu01 {
    display: block;
}input[type="radio"]:checked ~ .Eu02 {
    display: block;
}input[type="radio"]:checked ~ .Eu03 {
    display: block;
}

input[type="radio"]:checked ~ .SA01 {
    display: block;
}input[type="radio"]:checked ~ .SA02 {
    display: block;
}input[type="radio"]:checked ~ .SA03 {
    display: block;
}

#hy3 {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 800px;
    /* border: 1px solid black; */
    position: relative;
}

.section-03 {
    width: 1200px;
    height: 700px;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 0;
}



/* 여기서부터 setion3 */
#hy3{
    width: 100%;
    height: 700px;
}

 /* 1200px 잡아주는 div */
 .goo {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

.Ori {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

/* Golf 배경색 */
.hy3-back01{
    width: 100%;
    height: 700px;
    transition: 0.5s;
    background: #e2f8f8;
}

.section3 {
    position: relative;
}

.hy3-ul input[type="radio"] {
    position: absolute;
    left: -99999px;
}

.hy3-ul li input[type="radio"] ~ label{
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 50%;
    cursor: pointer;
    bottom: 40px;
}

.Golf>.radio-4 {
    position: absolute;
    left: 49%;
    transform: translate(49%,49%);
}

.hy3-ul .radio-4:hover {
    background: #94c4d2;
    border: 1px solid #ccc;
}

.hy3-ul li input[type="radio"]:checked ~ .radio-4 {
    background: #94c4d2;
    border: 1px solid #ccc;
}

.Origin>.radio-5 {
    position: absolute;
    left: 51%;
    transform: translate(51%,51%);
}


.hy3-ul .radio-5:hover {
    background: #bce66a;
    border: 1px solid #ccc;
}

.hy3-ul li input[type="radio"]:checked ~ .radio-5 {
    background: #bce66a;
    border: 1px solid #ccc;
}

.hy3-back01 {
    display: none;
}
.hy3-back02 {
    display: none;
}

.hy3-ul input[type="radio"]:checked ~ .hy3-back01 {
    display: block;
}
.hy3-ul input[type="radio"]:checked ~ .hy3-back02 {
    display: block;
}

.g01{
    float: left;
    width: 600px;
    height: 550px;
    margin-top: 30px;
}

.Thema-img01 {
    float: left;
    width: 600px;
    height: 550px;
}

.golf-link {
    float: left;
    background: rgb(1, 99, 1);
    width: 600px;
    height: 40px;
    opacity: 0.8;
    margin-top: -40px;
    padding: 0 20px;
}

.golf-link > a {
    line-height: 40px;
    color: #fff;
    font-weight: 600;
    padding-left: 270px;
    transition: 0.3s;
}

.golf-link > a:hover {
    opacity: 0.6;
}

.hy3-content1{
    float: left;
    margin: 30px;
    width: 540px;
    height: 550px;
}

.g02 {
    float: left;
    margin: 20px;
    border-bottom: 2px solid black;
}

.g02 > i {
    float: left;
    padding-right: 7px;
    padding-top: 2px;
    color: #fff;
    text-shadow: 2px 2px 4px rgb(1, 48, 13);
}

.g02 > p {
    float: left;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}

.g02 > p:hover {
    cursor: pointer;
}

.golf-p {
    float: left;
    font-size: 28px;
    font-weight: 600;
}

.golf-p:hover {
    cursor: pointer;
}

.g03 {
    float: left;
    font-size: 14px;
    color: #555;
    margin: 15px;
    margin-top: 25px;
    line-height: 25px;
}

.Thema-img02 {
    float: left;
    width: 120px;
    height: 120px;
    margin-top: 7px;
    margin-right: 300px;
}

.g04-a {
    float: left;
    font-weight: 800;
    font-size: 14px;
    color: #000;
    margin-left: 140px;
    margin-top: -110px;
}

.g04-p1 {
    float: left;
    font-size: 13px;
    color: #555;
    margin-top: -85px;
    margin-left: 140px;
}

.g04-p2 {
    float: left;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    margin-top: -45px;
    margin-left: 140px;
}

.Thema-img03 {
    float: left;
    width: 120px;
    height: 120px;
    margin-top: 31px;
    margin-right: 300px;
}

.g05-a {
    float: left;
    font-weight: 800;
    font-size: 14px;
    color: #000;
    margin-top: -90px;
    margin-left: 140px;
}

.g05-p1 {
    float: left;
    font-size: 13px;
    color: #555;
    margin-top: -65px;
    margin-left: 140px;
}

.g05-p2 {
    float: left;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    margin-top: -40px;
    margin-left: 140px;
}

.g04-a:hover,.g05-a:hover {
    text-decoration: underline;
}


/* 여기서부터 Original */

.hy3-back02 {
    width: 100%;
    height: 700px;
    transition: 0.5s;
    background: rgb(239, 248, 235);
}       

.hy3-content2 {
    float: left;
    width: 600px;
    height: 550px;
}

.origin01 {
    float: left;
    width: 600px;
    height: 570px;
    margin-top: 30px;
}

.Thema-img04 {
    float: left;
    width: 600px;
    height: 570px;
}

.origin-link {
    float: left;
    background: rgb(143, 190, 206);
    width: 600px;
    height: 40px;
    margin-top: -39px;
    opacity: 0.8;
}

.origin-link > a {
    float: left;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
    padding-right: 20px;
    opacity: 1;
    transition: 0.3s;
    margin-left: 300px;
}

.origin-link > a:hover {
    opacity: 0.7;
}

.hy3-content2{
    float: left;
    margin: 30px;
    width: 540px;
    height: 570px;
    padding-top: 30px;
}

.origin02 {
    float: left;
    margin-left: 20px;
    border-bottom: 2px solid black;

}

.origin02 > i {
    float: left;
    padding-right: 5px;
    padding-top: 2px;
    color: rgb(195, 239, 245);
    text-shadow: 2px 2px 4px rgb(5, 46, 15);
}

.origin02 > p {
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.origin02 > p:hover {
    cursor: pointer;
}

.origin-p {
    float: left;
    font-size: 28px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: -180px;
}

.origin-p:hover {
    cursor: pointer;
}

.original03 {
    float: left;
    font-size: 14px;
    color: #555;
    margin-top: 60px;
    margin-left: 20px;
    line-height: 23px;
}

.original04 {
    float: left;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 23px;
}

.Thema-img05 {
    float: left;
    width: 120px;
    height: 120px;
    margin-top: 40px;
    margin-right: 150px;
}

.o05-a {
    float: left;
    font-weight: 800;
    font-size: 14px;
    color: #000;
    margin-top: -105px;
    margin-left: 130px;
    text-align: left;
}

.o05-p1 {
    float: left;
    font-size: 13px;
    color: #555;
    margin-top: -65px;
    margin-left: 130px;
}

.o05-p2 {
    float: left;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    margin-top: -35px;
    margin-left: 130px;
}

.Thema-img06 {
    float: left;
    width: 120px;
    height: 120px;
    margin-top: 22px;
    margin-right: 150px;
}

.o06-a {
    float: left;
    font-weight: 800;
    font-size: 14px;
    color: #000;
    margin-top: -110px;
    margin-left: 130px;
    text-align: left;
}

.o06-p1 {
    float: left;
    font-size: 13px;
    color: #555;
    margin-top: -70px;
    margin-left: 130px;
}

.o06-p2 {
    float: left;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    margin-top: -35px;
    margin-left: 130px;
}

.o05-a:hover,.o06-a:hover {
    text-decoration: underline;
}

/* 여기서부터 setion4 */
.section4{
    width: 1200px;
    margin: 0 auto;
    height: 600px;
}
.section4 h1{
    margin: 10px;
    margin-top: 50px;
}

.section4 .review_left{
    float: left;
    width: 50%;
    height: 450px;
}
.section4 .review_left img{
    width: 100%;
    height: 450px;
    /* opacity: 0.7; */
}

.section4 .review_right{
    float: right;
    width: 50%;
    height: 450px;
    background:rgb(193, 229, 255,0.3);
    padding: 20px;
    line-height: 20px;
}
.section4 .review_right a{
    font-size: 14px;
    margin: 10px;
    font-weight: 700;
    color: #333;
}
.section4 .review_right p{
    margin: 10px;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 15px;
}
.section4 .review_right a:hover{
    text-decoration: underline;
}

.section4 .more_review{
    float: right;
    text-align: right;
}
.section4 .more_review a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(180, 180, 180);
}

/* 여기서부터 setion5 */
.section5{
    width: 100%;
    height: 570px;
    background: url(images/배경.jpg) no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.section5 h1{
    color: #fff;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}
.section5_wrapper{
    width: 1200px;
    margin: 0 auto;
}
.blog{
    width: 31%;
    height: 450px;
    background: url(images/오사카2.jpg) no-repeat center center/cover, rgba(0, 0, 0, 0.4);
    background-size: 400px 550px;
    background-blend-mode: multiply;
    float: left;
    border-radius: 20px;
}
.sub-t{
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 10px;
}
.blog .blog_content{
    background: rgba(216, 215, 215, 0.9);
    color:#333;
    padding: 10px;
    width: 230px;
    margin: 25px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 700;
}

.video{
    width: 31%;
    height: 450px;
    float: left;
    background: rgb(255, 255, 255,0.4);
    text-align: center;
    border-radius: 20px;
    margin: 0 3.5%;
    overflow: hidden;
}
.video .video_content{
    margin: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #333;
}

.sns{
    width: 31%;
    height: 450px;
    float: right;
    background: rgba(53, 53, 53, 0.8);
    border-radius: 20px;
    overflow: hidden;
}
.s_b_icons{
    padding: 8px 15px;
    display: block;
    float: left;
}
.s_b_icons i{
    font-size: 17px;
    color: #fff;
    margin-right: 13px;
}
.s_b_icons .fa-heart{
    color: rgb(0, 162, 255);
}
.s_b_icons .fa-heart:hover{
    color: red;
}
.bookmark{
    display: block;
    float: right; 
    padding: 8px; 
    margin: 5px;
}
.bookmark i{
    font-size: 17px; 
    color: #fff;
}
.sns_content p{
    clear: both;
    margin: 5px 20px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}


/* TOP버튼 */
.topbutton img{
    width: 50px;
    height: 50px;
    display: block;
}
.topbutton a span{
    font-size: 13px;
    color: #000;
    font-weight: 600;
}
.topbutton a{
    /* border: 1px solid black; */
    position: fixed;
    bottom: 50px;
    right:50px;
}


/* footer */
.footer_outbox{
    width: 100%;
    height: 450px;
    margin: 0 auto;
    background: rgb(247, 247, 247);
    padding: 65px 0;
}
.footer_inbox{
    width: 1200px;
    background: #fff;
    margin: 0 auto;
    height: 300px;
    border-top: 2px solid #333;
}

.footer_call{

    width: 20%;
    height: 300px;
    padding: 32px 45px;
    float: left;
    border-right: 1px dotted #333;
}
.footer_call P{
    font-size: 19px;
    font-weight: 700;
}
.footer_call span{
    font-size:20px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 30px;
}
.footer_call a{
    font-size: 12px;
    color: rgb(126, 126, 126);
    text-decoration: none;
    font-weight: 700;
}

.footer_condition{
    border-bottom: 1px dotted #333;
    float: left;
    width: 80%;
    text-align: center;
}
.footer_condition ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.footer_condition ul li{
    display: inline-block;
    padding: 10px 1px;
    font-size: 13px;
    color: #333;
}

.footer_warning{
    width: 80%;
    float: left;
    padding: 15px 30px;
    line-height: 22px;
}
.footer_address{
    width: 80%;
    float: left;
    padding: 10px 30px;
    line-height: 22px;
}
.footer_warning,.footer_address p{
    font-size: 13px;
}

.footer_icons{
    float: right;
    height: 30px;
    width: 170px;
    padding: 4px;
}
.footer_icons i{
    font-size: 20px;
    margin-right:10px;
}
.footer_icons a{
    color: rgb(141, 141, 141);
}
.footer_icons i:hover{
    color: black;
}